Test/proj1test.hs
Test/*
Test/
Projects/Project2/dist-newstyle/*
Projects/Project2/dist-newstyle/
Projects/Project2/dist-newstyle
Projects/Project2/dist-newstyle/build/x86_64-osx/ghc-9.2.7/assignment2-0.0.0.0/x/minesweeper/build/minesweeper/minesweeper
Projects/Project3/dist-newstyle/*
Projects/Project3/dist-newstyle/
Projects/Project3/dist-newstyle
Projects/Project3/dist-newstyle/build/x86_64-osx/ghc-9.2.7/assignment3-0.0.0.0/x/tictactoe/build/tictactoe/tictactoe
